* {
  padding: 0;
  margin: 0; }

body {
  background: linear-gradient(45deg, #f7e1e2 0%, #f4daee 35%, #f3c5db 55%, #d7e0ec 75%, #a3e4e8 100%);
  font-family: Arial;
  color: #323232; }

button:hover {
  cursor: pointer; }

.header {
  background: #373737 url("../img/header/header-block__bcg.png") no-repeat;
  background-size: cover;
  background-position: center; }

.header-block {
  padding: 240px 0 322px 40px; }

.header-block__title {
  font-family: El Messiri;
  color: #FFFFFF;
  font-size: 90px; }

.header-block__subtitle {
  font-weight: normal;
  color: #FFFFFF;
  font-size: 25px;
  padding-top: 20px;
  padding-bottom: 40px;
  width: 50%; }

.header-special__text {
  font-weight: 700; }

.header-block__btn {
  font-weight: 700;
  color: #FFFFFF;
  font-size: 25px;
  background: linear-gradient(89.7deg, #439CFB 7.15%, #F187FB 105.21%);
  padding: 18px 84px;
  border-radius: 15px;
  border: none; }

.content-block {
  padding-top: 150px;
  display: flex;
  justify-content: center; }

.content-block__card {
  display: flex;
  width: 1000px;
  margin: 0 40px 0 40px;
  border-radius: 20px;
  background: #FFFFFF66; }

.card-text {
  display: flex;
  font-size: 18px;
  font-weight: 400;
  padding: 20px 65px 40px 20px; }

.card-text__about {
  font-size: 18px;
  font-weight: 400;
  padding: 9.5px 20px 30px 0; }

.video {
  display: flex;
  justify-content: center;
  padding-top: 150px;
  padding-bottom: 150px; }

.video-block {
  width: 1000px;
  display: flex; }

.video-block__text {
  padding-left: 25px; }

.video-block__title {
  font-size: 38px;
  font-weight: 700;
  padding-bottom: 25px;
  line-height: 50px; }

.video-block__subtitle {
  font-size: 25px;
  font-weight: 400; }

.community {
  display: flex;
  justify-content: center; }

.community-block {
  width: 1000px;
  background: #FFFFFF66;
  border-radius: 20px;
  display: flex; }

.community-block__text {
  padding: 113px 15px 80px 11px;
  width: 39%; }

.community-block__title {
  font-size: 30px; }

.community-block__subtitle {
  font-size: 22px;
  padding: 40px 0 40px 0; }

.community-block__btn {
  font-weight: 700;
  color: #FFFFFF;
  font-size: 25px;
  background: linear-gradient(89.7deg, #439CFB 7.15%, #F187FB 105.21%);
  padding: 18px 84px;
  border-radius: 15px;
  border: none; }

.images-first__column {
  display: inline-block; }

.images-second__column {
  display: inline-block; }

.swiper-block__welcome {
  padding: 150px 0 50px 40px;
  font-size: 45px;
  width: 50%;
  text-align: center; }

swiper-slide {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center; }

swiper-slide img {
  align-items: center;
  background: #B8B6C5;
  border-radius: 50%; }

.swiper-slide__name {
  font-size: 24px;
  padding-top: 20px;
  font-weight: 700; }

.swiper-slide__post {
  padding: 10px 0 20px 0; }

.faq-block {
  display: flex;
  flex-direction: column;
  align-items: center; }

.faq-block__title {
  display: block;
  font-size: 44px;
  padding: 100px 0 40px 0; }

.faq-block__cards {
  width: 1000px;
  display: flex;
  flex-direction: column; }

.faq-block__card {
  border-bottom: 1px solid #000;
  padding: 20px 0 20px 0; }

.faq-block__question {
  display: block;
  cursor: pointer;
  font-weight: 700;
  font-size: 24px;
  position: relative;
  width: 90%; }

.faq-block__question:after {
  content: "";
  display: block;
  border-style: solid;
  border-width: 0 17.5px 20px 17.5px;
  border-color: transparent transparent #323232 transparent;
  position: absolute;
  top: 50%;
  right: -60px;
  transform: translateY(-50%); }

.faq-input {
  width: 0;
  height: 0;
  -webkit-appearance: none;
  appearance: none;
  position: absolute; }

.faq-input:checked ~ .faq-block__question:after {
  border-style: solid;
  border-width: 20px 17.5px 0 17.5px;
  border-color: #323232 transparent transparent transparent; }

.faq-input:checked ~ .faq-block__answer {
  display: block; }

.faq-block__answer {
  display: none;
  padding: 15px 0 15px 0;
  font-size: 18px; }

.faq-block__answer p {
  padding-top: 15px; }

.form {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 100px; }

.form-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.form-block__title {
  padding: 100px 0 30px 0;
  font-size: 40px; }

.form-main {
  display: flex;
  width: 1000px; }

.form-text {
  display: flex;
  flex-direction: column;
  padding-left: 45px;
  justify-content: center; }

.form-input {
  color: #404040;
  text-align: center; }

.form-input__name {
  margin-top: 15px;
  margin-bottom: 15px;
  text-align: center;
  border: 1px solid #404040;
  border-radius: 20px;
  padding: 20px 37%;
  background: transparent; }

.form-input__email {
  text-align: center;
  border: 1px solid #404040;
  border-radius: 20px;
  padding: 20px 37%;
  background: transparent; }

.form-block__button {
  text-align: center; }

.form-block__btn {
  border: none;
  border-radius: 20px;
  padding: 20px 41.5%;
  background: linear-gradient(89.7deg, #439CFB 7.15%, #F187FB 105.21%);
  color: #ffffff;
  margin-top: 30px; }

.basement {
  display: flex;
  justify-content: center; }

.basement-block {
  display: flex;
  justify-content: space-around;
  width: 1000px;
  border-top: 1px solid #000;
  padding-top: 30px; }

.basement-block__text {
  display: inline-block; }

.basement-block__text span {
  display: block;
  padding-bottom: 10px; }

.basement-block__questions {
  display: inline-block;
  font-weight: 700; }

.basement-block__questions a {
  text-decoration: underline;
  color: #323232; }

@media screen and (max-width: 1014px) {
  .header-block__title {
    font-size: 70px; }

  .header-block__subtitle {
    font-size: 21px; }

  .card-text__about {
    display: none; }

  .swiper-block__welcome {
    width: 100%; }

  .video-block {
    width: 850px; }
    .video-block__title {
      font-size: 32px; }
    .video-block__subtitle {
      font-size: 21px; }

  .community-block {
    flex-direction: column;
    align-items: center;
    width: 850px; }
    .community-block__text {
      width: 100%;
      text-align: center; }

  .faq-block__cards {
    width: 850px; }

  .form-main {
    width: 850px; }

  .form-input__name {
    padding: 15px 30%; }
  .form-input__email {
    padding: 15px 30%; }

  .form-block__btn {
    padding: 15px 35.5%; }

  .basement-block {
    width: 850px; } }
@media screen and (max-width: 917px) {
  .swiper-block__welcome {
    font-size: 38px;
    padding-left: 20px; }

  .form-block__title {
    font-size: 34px; } }
@media screen and (max-width: 890px) {
  .header-block {
    padding-top: 90px;
    padding-bottom: 160px;
    text-align: center; }
    .header-block__subtitle {
      width: 100%; }

  .video-block {
    flex-direction: column;
    align-items: center;
    text-align: center; }
    .video-block__title {
      font-size: 24px; }
    .video-block__subtitle {
      font-size: 16px; }

  swiper-slide img {
    display: none; }

  .faq-block__title {
    font-size: 35px; }
  .faq-block__cards {
    width: 650px; }

  .form-block__title {
    font-size: 29px; }

  .form-main {
    width: 650px; }

  .form-block__image {
    display: none; }

  .form-input__name {
    padding: 12px 15%; }
  .form-input__email {
    padding: 12px 15%; }

  .form-block__btn {
    padding: 12px 26.5%; }

  .basement-block {
    width: 650px; } }
@media screen and (max-width: 682px) {
  .header-block__title {
    font-size: 55px; }
  .header-block__subtitle {
    font-size: 19px; }

  .content-block__card {
    margin: 0 20px 0 20px; }

  .card-text {
    font-size: 16px;
    padding: 20px 35px 40px 10px; }

  .community-block__images {
    display: none; }

  .faq-block__title {
    font-size: 30px;
    text-align: center; }
  .faq-block__cards {
    width: 450px; }

  .form-block__title {
    font-size: 28px;
    text-align: center; }

  .form-title {
    text-align: center; }

  .form-main {
    width: 450px; }

  .form-text {
    padding-left: 0; }

  .basement-block {
    width: 450px; } }
@media screen and (max-width: 496px) {
  .video {
    display: none; }

  .community {
    margin-top: 50px; }

  .faq-block__title {
    font-size: 21px; }

  .faq-block__cards {
    width: 280px; }

  .faq-block__question {
    font-size: 18px; }

  .form-main {
    width: 280px; }

  .basement-block {
    width: 280px; } }
